@model Shop.Domain.DomainModels.Ticket

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Ticket</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.price)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.price)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.dateTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.dateTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.nameVenue)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.nameVenue)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.movie)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.movie.descriptionMovie)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
